<!DOCTYPE html>
<html lan="en-US">

     <head>
        <title>fayoum_guide</title>
        <style type="text/css">
            body, html {
                width: 100%;
                height: 100%;
                font-family: Arial, Tahoma, sans-serif;
            }

            #fundo-externo {
                overflow: hidden; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
                width: 100%;
                height: 100%;
                position: relative; /* criamos um contexto para posicionamento */
            }

            #fundo {
                position: fixed; /* posição fixa para que a possível rolagem da tela não revele espaços em branco */
                width: 100%;
                height: 100%;
            }

            #fundo img {
                width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
                position: fixed;
            }

            #site {
                position: absolute;
                top: 20px;
                left: 50%;
                width: 1190px;
                padding: 7px;
                margin-left: -600px; /* por causa do posicionamento absoluto temos que usar margem negativa para centralizar o site      http://eskipaper.com/images/perfect-wallpaper-8.jpg      esse é o endereço de web do fundo*/
                background: #FFF; /* fundo branco para navegadores que não suportam rgba */
                background: rgba(20,20,20,1); /* fundo branco com um pouco de transparência */
            }

           ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: rgba(200,200,200,0.8);
            }

            li {
                float: left;
            }

            li a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }


            li a:hover {
                background-color: gray;
            }
        </style>
        <meta 	charset="UTF-8">
    </head>




    <body >
        <div id="fundo-externo">
            <div id="fundo">
                <img src= http://eskipaper.com/images/perfect-wallpaper-8.jpg>
            </div>
        </div>
        <div id="site">
        <ul>
                    <li><%= link_to 'home', root_path  %><a href="#home"></a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">about</a></li>
        </ul>
            <h1   style="text-align:center;"  style="font-family:comic;" > Out there </h1>
                <hr>
            <h2 style="text-align:center;"  style="font-family:courier;" > about page </h2>
            <h3> <h3>

                <br>
                <br>
                <hr>
            <h3 style="text-align:center;"  style="font-family:courier;" ></h3>
            <p style="color:red" style="font-family:courier;"></p>
        </div>
    </body>

</html>